.garden-header {
  position: fixed;
  top: 220px;
  text-align: center;
  background-color: $blue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 96px;
  left: 20vw;
}
.gardens-content {
  margin-top: 64px;
  background-color: $blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pre {
    color: $white;
    font-family: "Courier New", Courier, monospace;
  }
}
