// imports
@import "reset";
@import "colors";
@import "fonts";

// selection color
::-moz-selection {
  background: $blue;
}
::selection {
  background: $blue;
}

// Specific styles
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 405px;
  border-bottom: 1px solid $black;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  height: 64px;
  position: sticky;
  top: 0;
  background-color: $white;
  padding: 18px;
}
.try-logo {
  display: flex;
  align-items: center;
  button {
    margin-right: 12px;
  }
  code {
    font-size: 15px;
    color: $blue;
  }
}
nav ul {
  display: flex;
  li {
    font-size: 16px;
    line-height: 22px;
    color: $red;
    margin-left: 20px;
  }
}
.left-header {
  padding: 18px;
  .title {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px;
    h1 {
      font-size: 28px;
      line-height: 38px;
      text-align: center;
      margin-top: 42px;
    }
  }
}

.right-header {
  background-image: url("https://res.cloudinary.com/juliendonck/image/upload/v1549290176/matisse_m7bgdy.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

// section styles

.collab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 80px;
  padding: 40px 40px 80px 40px;
  h2 {
    padding-bottom: 16px;
  }
}

.try {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 100px 0 72px 0;
}

.try-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: $blue;
    padding-top: 64px;
    padding-bottom: 24px;
  }
  p {
    max-width: 640px;
  }
  .terminal {
    margin-top: 32px;
    width: 740px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
  }
  .blue {
    background-color: $blue;
  }
}
.guide-cta {
  margin-top: 64px;
  text-decoration: underline;
  &:hover {
    color: $red;
  }
}

.float {
	background-color: #ff5555;

  .float path {
    stroke: black;
    stroke-width: 2px;
  }
}

.stack {
  background-color: $red;
  color: $black;
  padding: 96px;
  h1 {
    padding-bottom: 16px;
  }
  .stack-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 64px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .illustration {
    background-image: url("https://res.cloudinary.com/juliendonck/image/upload/v1549390686/stack3_w39cfo.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
  }
}

footer {
  background-color: $red;
  color: $white;
  ul {
    padding-left: 48px;
    li {
      line-height: 24px;
    }
  }
  .footer-content {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .footer-text {
    background-color: $white;
    color: $black;
    padding: 48px 64px;
    h2 {
      color: $red;
      padding: 32px 0 24px 0;
    }
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 58px;
  }
}
